﻿@model TheBookingPlatform.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<div style="padding-left:0px;padding-right:0px;" >
   
        <div class="card">

            <div class="table-responsive">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>

                            <th class="text-center">
                                Description
                            </th>

                            <th class="text-center">
                                Customer
                            </th>
                            <th class="text-center">
                                Employee
                            </th>

                            <th class="text-center">
                                Date
                            </th>

                        </tr>
                    </thead>
                    <tbody id="historyTableBody">
                    </tbody>
                </table>
                <div class="text-center" style="margin-top: 20px;">
                    <button id="loadMoreBtn" class="btn btn-primary btn-sm">Load More</button>
                </div>
            </div>
        </div>
   
</div>


<script>

    //$('#datatables').DataTable({
    //    "pagingType": "full_numbers",
    //    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    //    responsive: true,
    //    language: {
    //        search: "_INPUT_",
    //        searchPlaceholder: "Search records",
    //    }

    //});


   var skip = 0;
   var take = 1000;

    function loadHistories() {
        $.ajax({
            url: '@Url.Action("ShowHistories", "Home")',
            data: { skip: skip, take: take },
            type: 'GET',
            success: function (data) {
                if (data.length === 0) {
                    $('#loadMoreBtn').hide();
                    return;
                }
                debugger
                data.forEach(item => {
                    $('#historyTableBody').append(`
                        <tr>
                            <td class="text-center">${item.History.Note}</td>
                            <td class="text-center">${item.History.CustomerName}</td>
                            <td class="text-center">${item.History.EmployeeName}</td>
                            <td class="text-center">${item.Date}</td>
                        </tr>
                    `);
                });

                skip += take;
                $('#datatables').DataTable().rows().invalidate().draw(); // Refresh DataTables
            },
            error: function () {
                alert("Error loading data.");
            }
        });
    }
    $(document).ready(function () {

        loadHistories(); // initial load

        $('#loadMoreBtn').click(function () {
            loadHistories();
        });
        $(document).on('click', '.data-btn', function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                    $("#actionModal").modal('show'); // Make sure the modal is shown after the response is loaded
                });
        });
    });


    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>



