﻿@model TheBookingPlatform.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<div style="padding-left:0px;padding-right:0px;" >
    @if (Model.Histories != null)
    {
        <div class="card">

            <div class="table-responsive">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>

                            <th class="text-center">
                                Description
                            </th>

                            <th class="text-center">
                                Customer
                            </th>
                            <th class="text-center">
                                Employee
                            </th>

                            <th class="text-center">
                                Date
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Histories)
                        {
                            <tr>

                                <td class="text-center">@item.Note</td>


                                <td class="text-center">@item.CustomerName</td>
                                <td class="text-center">@item.EmployeeName</td>

                                <td class="text-center">
                                    @item.Date.ToString("yyyy-MM-dd H:mm")
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {

        <div class="alert alert-warning col-md-12" role="alert">
            Sorry! No records exist.
        </div>
    }
</div>


<script> 
    $('#datatables').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        responsive: true,
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search records",
        }

    });
    $(document).ready(function () {
       

        $(document).on('click', '.data-btn', function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                    $("#actionModal").modal('show'); // Make sure the modal is shown after the response is loaded
                });
        });
    });
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>



