
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Royal Dispatch</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Content/template/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/Content/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/template/images/favicon.png" />
</head>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <h3 class="title" style="font-family:'Agency FB'">Royal Dispatch</h3>
                        </div>
                        <h4>Hello! let's get started</h4>
                        <h6 class="font-weight-light">Sign in to continue.</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>


<script src="~/Content/template/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="~/Content/template/js/off-canvas.js"></script>
<script src="~/Content/template/js/hoverable-collapse.js"></script>
<script src="~/Content/template/js/template.js"></script>
<script src="~/Content/template/js/settings.js"></script>
<script src="~/Content/template/js/todolist.js"></script>