@using TheBookingPlatform.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<style>
    .loading-spinner-overlay {
        display: none; /* Initially hidden */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999; /* Ensure it appears above all other content */
        background-color: rgba(0,0,0,0.5); /* Transparent black */
    }


    .spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @@keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }



    #elementToShow {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        display: none;
    }
</style>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/TBPContent/v2blacklogo.png">
    <link rel="icon" type="image/png" href="~/Content/TBPContent/v2blacklogo.png">

    <title>The Booking Platform</title>

    <!--     Fonts and icons
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/Content/MainTemplate2/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/MainTemplate2/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/Content/MainTemplate2/assets/css/material-dashboard.css?v=3.0.6" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
</head>

<body class="bg-gray-200">
    <div id="loadingSpinner" class="loading-spinner-overlay">
        <div class="spinner"></div>
        <h3 id="LoaderText" style="color: white; position: absolute; left: 36%; top: 60%;"></h3>

    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
        <div class="container">
            <img src="~/Content/TBPContent/v2whitelogo.png" style="height:50px;" />
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="~/Content/MainTemplate2/pages/dashboards/analytics.html">
                Your Booking Platform
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">

            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <main class="main-content  mt-0" style="height:100vh;">
        <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>

                                </div>
                            </div>
                            <div class="card-body">

                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "text-start", role = "form", onsubmit = "return onSubmitForm(event)" }))
                                {
                                    <div class="input-group input-group-outline my-3">
                                        @*<label class="form-label">Email</label>*@
                                        <input id="Email" name="Email" type="email" class="form-control" placeholder="Enter Email">
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        @*<label class="form-label">Password</label>*@
                                        <input name="Password" id="Password" type="password" class="form-control" placeholder="Enter Password">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" id="SubmitButton" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                                    </div>
                                    <p class="mt-4 text-sm text-center">
                                        Don't have an account?
                                        <a href="@Url.Action("Register", "Account")" class="text-primary text-gradient font-weight-bold">Sign up</a>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer position-absolute bottom-2 py-2 w-100">
                <div class="container">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-12 col-md-6 my-auto">
                            <div class="copyright text-center text-sm text-white text-lg-start">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>,
                                made <i class="fa fa-heart" aria-hidden="true"></i> by
                                <a href="https://www.yourbookingplatform.com" class="font-weight-bold text-white" target="_blank">Your Booking Platform.</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            @*<ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                    <li class="nav-item">
                                        <a href="https://www.creative-tim.com" class="nav-link text-white" target="_blank">Creative Tim</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.creative-tim.com/presentation" class="nav-link text-white" target="_blank">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.creative-tim.com/blog" class="nav-link text-white" target="_blank">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-white" target="_blank">License</a>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="~/Content/MainTemplate2/assets/js/core/popper.min.js"></script>
    <script src="~/Content/MainTemplate2/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/MainTemplate2/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/MainTemplate2/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- Kanban scripts -->
    <script src="~/Content/MainTemplate2/assets/js/plugins/dragula/dragula.min.js"></script>
    <script src="~/Content/MainTemplate2/assets/js/plugins/jkanban/jkanban.js"></script>
    <script type="text/javascript">

    function onSubmitForm(event) {
        saveCredentials();
        document.getElementById("SubmitButton").disabled = true;
        return true;
    }
    function showLoadingSpinner() {
        document.getElementById('loadingSpinner').style.display = 'block';
    }
    function hideLoadingSpinner() {
        document.getElementById('loadingSpinner').style.display = 'none';
    }


    function checkLocalStorageCredentials() {
        var email = localStorage.getItem('Mainemail');
        var password = localStorage.getItem('Mainpassword');
        if (email && password) {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("CheckUser", "Account")',
                data: { email: email, pasword: password }
            })
                .done(function (response) {

                    if (response.success) {
                        // For now, we'll just delay the fade out for demonstration
                        showLoadingSpinner();
                        // Perform an AJAX request or any required mechanism to log in
                        $("#Email").val(email);
                        $("#Password").val(password);
                        $("#SubmitButton").click();
                    }

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoadingSpinner();
                    alert("Incorrect Credentials");
                });
        }
        else
        {
            hideLoadingSpinner();
            alert("Incorrect Credentials");
        }
    }





    function saveCredentials() {
        var email = document.getElementById('Email').value;
        var password = document.getElementById('Password').value;

        // Store credentials in localStorage
        localStorage.setItem('Mainemail', email);
        localStorage.setItem('Mainpassword', password);

        // Perform further actions like sending this information to the server
        // e.g., using fetch() or XMLHttpRequest to pass this information to the .NET MVC backend
    }
    $(document).ready(function () {
        $("#FooterNAV").hide();

        checkLocalStorageCredentials();
    });
    </script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/MainTemplate2/assets/js/material-dashboard.min.js?v=3.0.6"></script>
</body>

</html>