
@{
    ViewBag.Title = "Import";
}

@if (ViewBag.Products != null)
{
    <table class="table table-responsive" cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>
                Product
            </th>
            <th>
                Status
            </th>

        </tr>
        @foreach (var item in ViewBag.Products)
        {
            <tr>
                <td>@item.Name</td>
                <td>IMPORTED</td>


            </tr>
        }
    </table>
}

<a class="btn btn-block btn-danger" href="@Url.Action("Index", "Product", new {Selected="Product" })">Back to Products</a>




