
@{
    ViewBag.Title = "Purchased";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Assigned Successfully
            </h4>
            <h5>
                Thanks for your the purchase.
                Your gift card number is: @ViewBag.GiftCardCode

                and other details has been sent to your email

                Visit your profile to check your gift card usage.
            </h5>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        window.location.href = "http://app.yourbookingplatform.com";
    }, 1500);  // 1500 milliseconds = 1.5 seconds
</script>
