@{
    ViewBag.Title = "NotAllowed";
    Layout = null;
}

<link href="~/Content/MainTemplate/assets/css/bootstrap.min.css" rel="stylesheet" />


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Unsubscribe</h4>
        <span>You've successfully opted out from the newsletter.</span>
    </div>
  
</div>




