@model TheBookingPlatform.ViewModels.ServiceCategoriesListingViewModel

<style>
    .card {
        margin: 0px;
    }
</style>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Service Categories <a href="https://yourbookingplatform.com/how-to-set-up-services-category" target="_blank"><i class="fa fa-info-circle"></i></a></h2>

        <form>

            <div class="form-group">
                <div class="input-group input-group-dynamic">
                    <input type="text" name="searchterm" class="form-control" placeholder="Search." value="@Model.SearchTerm">
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <button class="btn btn-outline-primary btn-sm btn-rounded" type="submit"><i class="fas fa-search mr-1"></i> Search</button>
                <a class="btn btn-outline-secondary btn-sm btn-rounded" href="@Url.Action("Index", "ServiceCategory")"><i class="fas fa-redo-alt mr-1"></i> Reset</a>
                <button data-href="@Url.Action("Action", "ServiceCategory")" class="data-btn btn btn-outline-success btn-sm btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fas fa-plus mr-1"></i> Create</button>

            </div>
        </form>


        @{
            Html.RenderPartial("_Listing", Model);
        }
    </div>

</div>
<div class="modal fade center" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>