@{
    ViewBag.Title = "Dashboard";
}

<style>
    .scroll {
        overflow-x: scroll;
        width: contain;
    }

    td {
        width: 200px;
    }

</style>
<h2>Dashboard - Welcome </h2>
<hr />



<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>


