
@{
    ViewBag.Title = "PassKey";
    Layout = null;
}

<form method="post">
    <input autocomplete="off" type="text" id="PassKey" name="PassKey" />
    <button type="submit">SUBMIT</button>
</form>