
@{
    ViewBag.Title = "Subscription";
}

<h2>Subscription</h2>

<form action="/User/CreateSubscription" method="post">
    <input type="hidden" name="userID" value="userID123">
    <button type="submit">Subscribe</button>
</form>
