@model TheBookingPlatform.ViewModels.ServiceCategoriesActionViewModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Service Category</span>
                }
                else
                {
                    <span>Create Service Category</span>
                }
            </h5>
           
        </div>
        <div class="modal-body">

            <form id="actionFormNew">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="input-group input-group-dynamic">
                    <div class="form-group">
                        <label>Service Category Name</label>
                        <input class="form-control" name="Name" id="Name" placeholder="Enter Name." value="@Model.Name">
                    </div>
                </div>

            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            @if (Model.ID != 0)
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Update</button>
            }
            else
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
            }
            <button id="CloseBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        console.log($("#Category").val());

        $("#actionButton").click(function () {
            $.ajax({
                url: '@Url.Action("ActionCategory", "Service")',
                type: "post",
                data: $("#actionFormNew").serialize()
            })
                .done(function (response) {
                    if (response.success) {
                        RepopulateCategories();       
                        $(".btn-secondary[data-bs-dismiss='modal']").click();

                    }
                    else {
                        $(".errorDiv").html(response.Message);
                    }
                });
        });
    });
</script>
