@model TheBookingPlatform.ViewModels.ResourceActionViewModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Resource </span>
                }
                else
                {
                    <span>Create Resource </span>
                }
            </h5>
           
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="input-group input-group-dynamic">
                    <div class="form-group">
                        <label>Resource Name</label>
                        <input class="form-control" name="Name" placeholder="Enter Name." value="@Model.Name">
                    </div>
                </div>

                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control choices__input" name="Type" id="Type">
                        @if (Model.Type == "Room")
                        {
                            <option value="Room" selected>Room</option>
                            <option value="Tool">Tool</option>
                        }
                        else
                        {
                            <option value="Room">Room</option>
                            <option selected value="Tool">Tool</option>
                        }
                    </select>
                </div>

            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            @if (Model.ID != 0)
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Update</button>
            }
            else
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
            }
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var elements = document.getElementsByClassName('choices__input');

        // Check if there are any elements found
        if (elements.length > 0) {
            // Loop through each element and initialize Choices for it
            for (var i = 0; i < elements.length; i++) {
                const example = new Choices(elements[i], {
                    searchEnabled: false,
                    itemSelectText: ''
                });
            }
        }
    });

    $("#actionButton").click(function () {
        var Type = $("#Type").val();
		$.ajax({
			url: '@Url.Action("Action", "Resource")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function (response) {
			if(response.success)
            {
                RepopulateResources(Type);
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
	});
</script>
