@model TheBookingPlatform.ViewModels.LoyaltyCardActionViewModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>Delete Loyalty Card  Assginment</span>
            </h5>
           
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="AssignmentID" value="@Model.AssignmentID" />
            </form>
            <div class="alert alert-danger" role="alert"><span class="text-white">
    Are you sure you want to delete this Loyalty Card Assignment ?
</span>
            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-danger"><i class="fas fa-trash-alt mr-1"></i> Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}

<script>
	$("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("DeleteAssignment", "LoyaltyCard")',
			type: "post",
			data: $("#actionForm").serialize()
		})
            .done(function (response) {
                location.reload();
			
		});
	});
</script>