@model TheBookingPlatform.ViewModels.BookingViewModel
@{
    ViewBag.Title = "PrivacyPolicy";
}
<br />
<div class="container">
    <h2 class="title">
        <b> Privacy Statement for YourBookingPlatform</b>
    </h2>
    <b>Effective Date: 25/11/2023</b>
    <p>
        YourBookingPlatform ("we," "us," or "our") is committed to
        protecting the privacy and security of your personal information. This privacy statement explains how we collect,
        use, and disclose personal data when you use our booking services and visit our website / booking platform.
    </p>
    <ol type="1">
        <li>
            Information We Collect:
            <p>
                <ul>
                    <li>
                        When you book an appointment through YourBookingPlatform, we collect and process the following types of personal data:
                        <ul>
                            <li>
                                Name(s)
                            </li>
                            <li>
                                Contact details (email address, phone number, date of birth, gender)
                            </li>
                            <li>
                                Appointment preference(s)
                            </li>
                        </ul>
                    </li>
                </ul>
            </p>
        </li>
        <li>
            Purpose of Processing
            <ul>
                <li>
                    We collect and process your personal data for the purpose of managing and facilitating your
                    appointments, including sending appointment reminders, happy birthday message with discounts for next appointments.
                </li>
            </ul>
        </li>

        <li>
            Legal Basis for Processing:
            <ul>
                <li>
                    The processing of your personal data is necessary for the performance of
                    the contract between you and YourBookingPlatform.
                </li>
            </ul>
        </li>

        <li>
            Data Retention:
            <ul>
                <li>
                    We retain your personal data for as long as necessary to fulfill
                    the purposes outlined in this privacy statement. After this period, your data will be securely deleted.
                </li>
            </ul>
        </li>

        <li>
            Data Security:
            <ul>
                <li>
                    YourBookingPlatform takes reasonable and appropriate measures to protect your
                    personal data from unauthorized access, disclosure, alteration, and destruction.
                </li>
            </ul>
        </li>
        <li>
            User Rights:
            <ul>
                <li>
                    You have the right to access, rectify, opt out of newsletters and erase your personal data.
                    To exercise these rights, please contact us at support.yourbookingplatform.com
                </li>
            </ul>
        </li>


        <li>
            Consent:
            <ul>
                <li>
                    By booking an appointment through YourBookingPlatform, you implicitly
                    consent to the processing of your personal data for the specified purposes.
                </li>
            </ul>
        </li>


        <li>
            Opting Out:
            <ul>
                <li>
                    You have the right to opt out of receiving newsletters from YourBookingPlatform at any time. You can do so by Clicking “Opt Out of getting newsletter”
                    below any email you get from us or Our Partners.
                </li>
            </ul>
        </li>

        <li>
            Data Sharing:
            <ul>
                <li>
                    When you book Via our partners who uses our software, your personal data will be processed by them to manage your appointments
                </li>
                <li>
                    YourBookingPlatform may share your personal data with third parties, such as service providers assisting with
                    appointment reminders. However, we will not sell or lease your personal data to third parties.
                </li>
            </ul>
        </li>

        <li>
            Data Transfers:
            <ul>
                <li>
                    YourBookingPlatform may transfer your personal data outside the European Economic Area (EEA)
                    for the purposes outlined in this privacy statement. We ensure that such transfers comply with applicable data protection laws.
                </li>
            </ul>
        </li>

        <li>
            Data Breach Notification:
            <ul>
                <li>
                    In the event of a data breach, YourBookingPlatform will notify you and the relevant
                    authorities in accordance with applicable laws and regulations.
                </li>
            </ul>
        </li>

        <li>
            Cookies:
            <ul>
                <li>
                    Our website may use cookies to enhance your user experience.
                    You can manage or disable cookies in your browser settings.
                </li>
            </ul>
        </li>
    </ol>

    <h4>
        <b>Contact Information</b>
    </h4>
    <p>
        If you have any questions or concerns about our privacy practices, please contact us at support@yourbookingplatform.com <br />
        This privacy statement is subject to change, and any updates will be posted on our website. <br />
        Thank you for choosing YourBookingPlatform! <br />

    </p>

</div>