@{
    Layout = null;
}

<link href="~/Content/MainTemplate/assets/css/bootstrap.min.css" rel="stylesheet" />


<div class="card container">
    <div class="card-header">
        <h4 class="card-title">Subscribed Successfully</h4>
    </div>
    <div class="card-content">
        <h2>
            "You have been registered for waiting list". You will be contacted by email / phone number if there is a slot open for you!
            <br /><br />

            You can now exit this screen!
            <br /><br />

            Kind Regards
        </h2>      

    </div>
</div>


<script>

</script>


